.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    }
    .what{
    float: none;
    background-color: rgb(0, 255, 221);
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
    }
    .object{
    font-size:18px;
    }
    .find{
        box-shadow: 5px 5px 5px grey;
        font-size: 20px;
    }
    Canvas{
    border: 5px dashed;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
    }
    .fotter{
    position:fixed;
    color: gold;
    background-color: black;
    font-size: 15px;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    text-align: center;
    }